body {
    background-image: url("background/Home.png");
   /* background-color: azure;*/
    background-repeat: repeat;
    background-position: cover;
    background-size: normal;
   /* background-color: rgba(0, 0, 0, 0.5); /* 50% transparency */
    color: white;
   /* animation-name: fadeBackround;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;*/
  }

 /* @keyframes fadeBackground {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }*/

  header {
    background-color: orange;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Display the menu items horizontally */
    justify-content: flex-end; /*Aligns items to the right*/
  }
  
  nav ul li {
    margin-left: 10px;
  }
  
  nav ul li:first-child {
    margin-left: auto; /* pushes the create profile tab to the right*/
  }
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    background-color: transparent;
    padding: 20px;
    scroll-margin-block: 20px;
  }
  
  #login {
    display: none;
  }

  #carousel-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
  }
  
  #carousel {
    display: flex;
    animation: carouselAnimation 3s linear infinite;
  }
  
  .carousel-item {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  
  @keyframes carouselAnimation {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-200%); }
  }

  img {
    width: 300px;
    height: 200px;
  }
  
  
  
